.honIpe14Pro1{
    width: 547px; height: 852px; position: relative; background: #C9E2C9;
}
.Iphone143{
    width: 506px; height: 196px; padding-top: 9px; padding-bottom: 153px; left: 20px; top: 362px; position: absolute; background: #5D82CA; border-radius: 23px; overflow: hidden; justify-content: center; align-items: center; display: inline-flex;
}
.Prestasi{
    text-align: center; color: white; font-size: 24px; font-family: Paytone One; font-weight: 400; word-wrap: break-word; position:absolute; top: 15px;
}
.Repli{
    width: 155px; height: 232px; left: 20px; top: 100px; position: absolute; border-radius: 23px;
}
.Iphone141{
    width: 557px; padding-top: 11px; padding-bottom: 11px; left: -10px; top: 22px; position: absolute; background: #5D82CA; justify-content: center; align-items: center; display: inline-flex;
}

.AboutMe{
    text-align: center; color: white; font-size: 24px; font-family: Paytone One; font-weight: 400; word-wrap: break-word;
}
.Iphone142{
    width: 338px; height: 150px; left: 190px; top: 132px; position: absolute; background: #5D82CA; border-radius: 23px;
}
.Iphone144{
    width: 233px; height: 248px; left: 20px; top: 580px; position: absolute; background: #5D82CA; border-radius: 23px; overflow: hidden;
}
.Text{
    left: 83px; top: 12px; position: absolute; text-align: center;
}
.AsalPendidikan{
    width: 210px; left: 11px; top: 15px; position: absolute; text-align: center; color: white; font-size: 20px; font-family: Paytone One; font-weight: 400; word-wrap: break-word;
}
.PaudAlHasan{
    left: 56px; top: 67px; position: absolute; text-align: center; color: white; font-size: 16px; font-family: Paytone One; font-weight: 400; word-wrap: break-word;
}
.TkHnPutraDarulHikmah{
    left: 14px; top: 96px; position: absolute; text-align: center; color: white; font-size: 15px; font-family: Paytone One; font-weight: 400; word-wrap: break-word;
}
.SdnSumberWaru02{
    left: 37px; top: 124px; position: absolute; text-align: center; color: white; font-size: 15px; font-family: Paytone One; font-weight: 400; word-wrap: break-word;
}
.MtsMiftahulUlum{
    left: 43px; top: 152px; position: absolute; text-align: center; color: white; font-size: 15px; font-family: Paytone One; font-weight: 400; word-wrap: break-word;
}
.SmkZaidulAli{
    left: 56px; top: 180px; position: absolute; text-align: center; color: white; font-size: 16px; font-family: Paytone One; font-weight: 400; word-wrap: break-word;
}
.Iphone145{
    width: 233px; height: 248px; left: 293px; top: 580px; position: absolute; background: #5D82CA; border-radius: 23px; overflow: hidden;
}
.Hoby{
    left: 75px; top: 14px; position: absolute; text-align: center; color: white; font-size: 20px; font-family: Paytone One; font-weight: 400; word-wrap: break-word;
}
.Volly{
    left: 95px; top: 65px; position: absolute; text-align: center; color: white; font-size: 16px; font-family: Paytone One; font-weight: 400; word-wrap: break-word;
}
.Game{
    left: 93px; top: 102px; position: absolute; text-align: center; color: white; font-size: 16px; font-family: Paytone One; font-weight: 400; word-wrap: break-word;
}
.Diskusi{
    left: 87px; top: 139px; position: absolute; text-align: center; color: white; font-size: 16px; font-family: Paytone One; font-weight: 400; word-wrap: break-word; 
}
.Perna{
    width: 342px; left: 100px; top: 466px; position: absolute; text-align: center; color: white; font-size: 16px; font-family: Paytone One; font-weight: 400; word-wrap: break-word;
}
.NamaF{
    width: 349px; height: 80px; left: 212px; top: 164px; position: absolute; color: white; font-size: 16px; font-family: Paytone One; font-weight: 400; word-wrap: break-word;
}
.Waktu{
    width: 337px; left: 105px; top: 408px; position: absolute; text-align: center; color: white; font-size: 16px; font-family: Paytone One; font-weight: 400; word-wrap: break-word;
}
